/* Coolors Exported Palette - coolors.co/cc444b-da5552-df7373-e39695-e4b1ab */

/* RGB */
:root {
    --shade1: rgba(204, 68, 75, 1);
    --shade2: rgba(218, 85, 82, 1);
    --shade3: rgba(223, 115, 115, 1);
    --shade4: rgba(227, 150, 149, 1);
    --shade5: rgba(228, 177, 171, 1);

    --error: #e76e55;
}